@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* logo and wish-list */

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.logo-wraper {
  position: relative;
  width: 5%;
}

.logo-wraper img {
  max-width: 100%;
  margin-left: 470%;
  margin-bottom: 20%;
}

.cart {
  position: absolute;
  right: 35.5%;
  font-size: 3rem;
  margin-top: 2.3%;
}
.cart a {
  color: #555555;
}
.cart span {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  background-color: #0063d2;
  border-radius: 50%;
  padding: 0.1rem 0.6rem;
  left: 70%;
}
.cart a:hover {
  color: rgb(0, 157, 255);
}
.wish-list-icon {
  position: absolute;
  right: 33%;
  font-size: 3rem;
  margin-top: 2.3%;
  color: #555555;
}

.wish-list {
  position: absolute;
  right: 26.52%;
  margin-top: 1.9%;
  font-size: 4rem;
  font-family: "Gill Sans MT";
  color: #555555;
}

.wish-list a {
  font-size: 2rem;
  color: #555555;
}
.wish-list a:hover {
  color: rgb(0, 157, 255);
}
.wish-list span {
  color: #c9c9c9;
  font-size: 2rem;
}
/* End of logo and wish-list */

/* Navigation bar */
.btn {
  position: relative;
  max-width: 20.34rem;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.7rem;
  border-left: 1px solid rgb(212, 212, 212);
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
  /* border: 0.1px solid grey; */
  cursor: pointer;
}

.btn-accent {
  background-color: #fcfcfcf8;
}

.navigation {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-right: 3%;
  /* z-index: 99999; */
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
  gap: 1rem;
}

.nav-link > a:hover {
  color: rgb(0, 157, 255);
}

.menu-icon {
  width: 16.8%;
}

.menu-icon > img {
  width: 100%;
}

#icon5 {
  width: 14%;
}
#nl-5 {
  width: 22.3%;
  border-right: 1px solid rgb(212, 212, 212);
}
/* End of Navigation Menu */

/* Banner-Slide */
.banner-slide {
  width: 50%;
  height: 400px;
  position: relative;
  bottom: 22rem;
  left: 23.5%;
  margin: 3rem auto;
  transform: translate(-50%, 50%);
  overflow: hidden;
  /* border: 10px solid #fff;
  border-radius: 8px; */
  /* box-shadow: 10px 25px 28px rgb(0, 0, 0, 0.3); */
}
.banner {
  width: 100%;
  display: flex;
  animation: slide 10s infinite;
}
.banner img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
/* ENd of Banner-Slide */

.product-container {
  max-width: 100%;
  margin-top: -100px;
  margin-left: -30px;
}
.list-product {
  max-width: 50%;
  display: block;
  margin: auto;
}
.list-product .products {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-product .pro-title {
  padding: 4px 0;
  border-bottom: 1px solid black;
}
.product-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.list-product .pro-title .title a h4 {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
}
.list-product .pro-title .title a h4 .cate-icon {
  margin-right: 5px;
  width: 40px;
}

.col-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.text-right {
  text-align: right;
}
.float-right {
  float: right;
}

.list-product .pro-title .next a p {
  font-size: 13px;
  color: #707070;
  margin-top: 10px;
  margin-bottom: 0;
}
.list-product .pro-title .next a p:hover {
  font-weight: 550;
}

.list-product .pro-title .next a p span {
  color: #0063d2;
}

.list-product .products {
  margin-bottom: 20px;
}
.list-product .products .card {
  border: none;
  border-radius: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  /* background-color: #fff; */
}
.list-product .products .card .card-img {
  position: relative;
  transition: all 0.7s;
}
.list-product .products .card .card-img::before {
  content: "";
  display: block;
  padding-bottom: 80%;
}
.list-product .products .card .card-img:hover {
  transform: scale(1.05);
}
.list-product .products .card .card-img .img-size {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  object-fit: contain;
}
.list-product .products .img-size {
  width: 220px;
}

/* End of Laptop Product */

/* Product Detail */
.list-product .products .card .card-body {
  width: 250px;
  text-align: center;
  color: #000;
}

.list-product .products .card .card-body .card-title {
  font-size: 1.5rem;
  text-align: center;
  width: 220px;
  line-height: 1.7;
  margin-left: 15px;
  margin-top: 4rem;
}
#ct-b-1::after {
  content: "( RYZEN 9 7950X / RAM 32GB DDR5 / M.2 PCIE 1TB / RTX4090 24GB )";
  font-weight: normal;
}
#ct-b-2::after {
  content: "( I9 13900K / RAM 32GB DDR5 / M.2 PCIE 1TB / RTX4090 24GB GAMING OC )";
  font-weight: normal;
}
#ct-b-3::after {
  content: "( I7 13700F / RAM 16GB DDR5 / M.2 PCIE 1TB / RTX3060 12GB )";
  font-weight: normal;
}
#ct-b-4::after {
  content: "( RYZEN 9 7950X / RAM 32GB DDR5 / M2 PCIE 1TB / RTX4060 8GB )";
  font-weight: normal;
}

#ct-hw-1::after {
  content: "( 24Cores, 32Threads, 6Ghz )";
  font-weight: normal;
}
#ct-hw-4::after {
  content: "( Kingston FURY Beast RGB 16GB Single DDR5 5200MHz, CL40 )";
  font-weight: normal;
}
#ct-gg-1::after {
  content: "( WIRELESS RGB 60% Mechanical Gaming Keyboard )";
  font-weight: normal;
}
#ct-gg-3::after {
  content: "( 16000 dpi / Omron Switch )";
  font-weight: normal;
}
#ct-gg-4::after {
  content: "( Black / Green )";
  font-weight: normal;
}
#ct-mt-1::after {
  content: "( IPS 4K (3840 x 2160) / 100% sRGB, 100% Rec.709 / Color Accuracy ΔE < 2 / CALMAN VERIFIED, USB-C/ HDR-400 )";
  font-weight: normal;
}
#ct-mt-2::after {
  content: "( 2K / Curved / 165Hz / HDR400 / sRGB 122% / DCI P3 97% / USB-C 90W )";
  font-weight: normal;
}
#ct-mt-3::after {
  content: "( UHD (3840 x 2160) 4K / 60Hz / IPS / USB-C )";
  font-weight: normal;
}
#ct-mt-4::after {
  content: "( QHD / IPS 2K (2560 x 1440) / 165Hz / 1ms G-SYNC Compatible )";
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.list-product .products .card .card-body .price {
  width: 220px;
  color: #82b735;
  font-size: 2rem;
  margin-left: 15px;
  font-family: Open-San-Bold;
}

.card-text:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1745.45px) {
  .btn {
    max-width: 18.5rem;
    font-size: 1.5rem;
  }
  .cart {
    right: 36%;
  }
  .wish-list-icon {
    right: 33.5%;
  }
  .product-container {
    margin-top: -130px;
    margin-left: -27px;
  }
  .list-product .products .img-size {
    width: 210px;
  }

  .list-product .products .card .card-body {
    width: 230px;
  }

  .list-product .products .card .card-body .card-title {
    width: 210px;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .list-product .products .card .card-body .price {
    width: 210px;
    font-size: 1.8rem;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1536px) {
  .btn {
    max-width: 15.9rem;
    font-size: 1.5rem;
  }
  .cart {
    right: 37.5%;
  }
  .wish-list-icon {
    right: 34.5%;
  }
  .product-container {
    margin-top: -180px;
    margin-left: -23px;
  }
  .list-product .products .img-size {
    width: 180px;
  }

  .list-product .products .card .card-body {
    width: 200px;
    text-align: center;
    color: #000;
  }

  .list-product .products .card .card-body .card-title {
    width: 180px;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .list-product .products .card .card-body .price {
    width: 180px;
    font-size: 1.8rem;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1280px) {
  .btn {
    max-width: 13.5rem;
    font-size: 1rem;
  }
  .cart {
    right: 39.5%;
    margin-top: 1.7%;
  }
  .wish-list-icon {
    right: 36%;
    margin-top: 1.7%;
  }
  .wish-list {
    margin-top: 1%;
  }
  .product-container {
    margin-top: -220px;
    margin-left: -20px;
  }
  .list-product .products .img-size {
    width: 150px;
  }

  .list-product .products .card .card-body {
    width: 170px;
    text-align: center;
    color: #000;
  }

  .list-product .products .card .card-body .card-title {
    width: 150px;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .list-product .products .card .card-body .price {
    width: 150px;
    font-size: 1.8rem;
    margin-left: 10px;
  }
}
